body {
  height: 100%;
  background-image: linear-gradient(to left, #3a7ca5, #008148);
}

.icons {
  font-size: 30px;
}

@media only screen and (max-width: 992px) {
  .punch-line {
    font-size: 35px;
  }
}